
.icon-fire:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-attention:before { content: '\e803'; } /* '' */
.icon-info:before { content: '\e804'; } /* '' */
.icon-question:before { content: '\e805'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */